! Docmatson Xresources palette
*.foreground: #F8F8F2
*.background: #222222
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #BF0A0A
*.color9:     #F05222
*.color2:     #0BB836
*.color10:    #06C95B
*.color3:     #B9C908
*.color11:    #D9E324
*.color4:     #6209E0
*.color12:    #9133F5
*.color5:     #ED098A
*.color13:    #FA34A4
*.color6:     #0EC6F0
*.color14:    #20C5E6
*.color7:     #BFBFBF
*.color15:    #E6E6E6
